.chat-log .chat-message.whisper:is(.louder-whisper-to-me, .louder-whisper-from-me) {
  background-size:
    100% 100%,
    100% 50%,
    100% 50%;
  /*
   * see https://developer.mozilla.org/en-US/docs/Web/CSS/background-position#regarding_percentages
   * for why 100% put the at the bottomrather than *past* the bottom
   */
  background-position:
    0 0,
    0 0,
    0 100%;
  background-repeat: no-repeat;
  background-blend-mode: normal, normal, normal;

  /*
   * set the colors usiong OKLCH so we can ghet perceptually equal brightness
   * regardless of the user's color.
   */
  --color1: oklch(from var(--user-color) 0.95 0.1 h);
  --color2: oklch(from var(--user-color) 0.9 0.1 h);
  background-image:
    /* top-to-bottom shading */
    linear-gradient(to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6) 100%
      ),
    /* texture */
    repeating-linear-gradient(var(--angle1),
      var(--color1),
      var(--color1) 20px,
      var(--color2) 20px,
      var(--color2) 40px),
    repeating-linear-gradient(var(--angle2),
      var(--color1),
      var(--color1) 20px,
      var(--color2) 20px,
      var(--color2) 40px);
}


.chat-log .chat-message.whisper.louder-whisper-to-me {
  --angle1: 135deg;
  --angle2: 45deg;
}

.chat-log .chat-message.whisper.louder-whisper-from-me {
  --angle1: -135deg;
  --angle2: -45deg;
}

.chat-log .chat-message.whisper.louder-whisper-self {
  background-image:
    /* top-to-bottom shading */
    linear-gradient(to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.6) 100%),
    /* texture effect */
    repeating-linear-gradient(-45deg,
      rgba(255, 255, 255, 0.3) 0px,
      rgba(255, 255, 255, 0.6) 20px
      ),
    repeating-linear-gradient(45deg,
    rgba(255, 255, 255, 0.3) 0px,
    rgba(255, 255, 255, 0.6) 20px
    ),
    /* rainbow */
    linear-gradient(65deg,
      hsl(0deg 100% 55%) 0%,
      hsl(98deg 100% 51%) 39%,
      hsl(178deg 100% 50%) 67%,
      hsl(260deg 100% 50%) 89%,
      hsl(0deg 100% 50%) 100%);
}

/*
rainbow
https://www.joshwcomeau.com/gradient-generator?colors=ff1818|00ff2b|003bff|ff0000&angle=65&colorMode=hsl&precision=8&easingCurve=0.3793103448275862|0.8204022111563847|0.9913793103448276|0.2600573835701778
*/