#chat-log .chat-message.whisper.louder-whisper-to-me {
  background-size: 100% 100%, 100% 50%, 100% 50%;
  background-position: 0 0, 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image:
    /* top-to-bottom shading */
    linear-gradient(to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.6) 100%),
    /* texture */
    repeating-linear-gradient(135deg,
      transparent,
      transparent 20px,
      rgba(255, 255, 255, 0.2) 20px,
      rgba(255, 255, 255, 0.2) 40px),
    repeating-linear-gradient(45deg,
      transparent,
      transparent 20px,
      rgba(255, 255, 255, 0.2) 20px,
      rgba(255, 255, 255, 0.2) 40px);
}

#chat-log .chat-message.whisper.louder-whisper-from-me {
  background-size: 100% 100%, 100% 50%, 100% 50%;
  background-position: 0 0, 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image:
    /* top-to-bottom shading */
    linear-gradient(to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.6) 100%),
    /* texture */
    repeating-linear-gradient(-135deg,
      transparent,
      transparent 20px,
      rgba(255, 255, 255, 0.2) 20px,
      rgba(255, 255, 255, 0.2) 40px),
    repeating-linear-gradient(-45deg,
      transparent,
      transparent 20px,
      rgba(255, 255, 255, 0.2) 20px,
      rgba(255, 255, 255, 0.2) 40px);
}

#chat-log .chat-message.whisper.louder-whisper-self {
  background-image:
    /* top-to-bottom shading */
    linear-gradient(to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.6) 100%),
    /* texture effect */
    repeating-linear-gradient(-45deg,
      rgba(255, 255, 255, 0.3) 0px,
      rgba(255, 255, 255, 0.6) 20px
      ),
    repeating-linear-gradient(45deg,
    rgba(255, 255, 255, 0.3) 0px,
    rgba(255, 255, 255, 0.6) 20px
    ),
    /* rainbow */
    linear-gradient(65deg,
      hsl(0deg 100% 55%) 0%,
      hsl(98deg 100% 51%) 39%,
      hsl(178deg 100% 50%) 67%,
      hsl(260deg 100% 50%) 89%,
      hsl(0deg 100% 50%) 100%);
}

/*
rainbow
https://www.joshwcomeau.com/gradient-generator?colors=ff1818|00ff2b|003bff|ff0000&angle=65&colorMode=hsl&precision=8&easingCurve=0.3793103448275862|0.8204022111563847|0.9913793103448276|0.2600573835701778
*/